h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Amarante", serif;
    font-size: 70px;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20px;
}
body{
    background-color: rgb(67, 67, 67); 
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  opacity: 50%;
  background-image: url("/img/fondo2.jpg");

}


#form, #personalizado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    size: 20px;
     font-family: "Amarante", serif;
     font-size: 20px;
     padding-bottom: 2%;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

select, button, input {
  background-color: #413f3f; 
  color: #f5f5f5; 
  font-family: "Amarante", serif;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

select:hover , button:hover{
  border-color: #fff;
  background-color: #3b3b3b;
}

select:focus , button:focus{
  outline: none;
  border-color: rgb(189, 175, 97);
  box-shadow: 0 0 10px rgb(189, 175, 97);;
}
#mainContenedor {
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

#mapaContenedor {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  
  box-sizing: border-box;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 100%;
  border-color: rgb(98, 97, 97);
  border-style: inset;
  border-width: 10px;
  margin-top: 20px;
  position: relative;
}

 #boton1, #boton2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
 }
 #boton1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
 #añadir{

  margin-top: 20px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#boton2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

}
#leyenda{
   position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: rgba(97, 95, 95, 0.6);
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Amarante", serif;
  font-size: 16px;
  padding: 20px 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: 2px solid #8d8c8c;
  backdrop-filter: blur(4px)
}
.item {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 3%;
    }

    .color-box {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .rojo { background-color: red; }
    .verde { background-color: green; }
    .azul { background-color: blue; }
    .rosa{background-color: rgb(175, 83, 114);}

  #guardarDatos{
   position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: rgba(97, 95, 95, 0.6); 
  color: #ffffff;
  font-family: "Amarante", serif;
  font-size: 16px;
  padding: 20px 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 2px solid #8d8c8c;
  backdrop-filter: blur(4px);
  
  }